################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/c971 Resubmission/FileContentIndex
/UniversityApp/.vs/UniversityApp/FileContentIndex
