################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/untitled folder/FileContentIndex
/UniversityApp/.vs/UniversityApp/FileContentIndex
